<%- contentFor('content') %>


<section class="cid-qPDXW2X8a0 mbr-fullscreen" data-bg-video="https://www.youtube.com/embed/iTTrOhEWM-k?rel=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1" id="header2-f">

    

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(7, 59, 76);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">BACK TO LIFE</h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5">&nbsp;Nearly 4 Million Bitcoins Lost Forever. Save your cryptocurrencies accounts &nbsp;and declare your heirs into the BLOCKCHAIN</p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-secondary display-4" href="#timeline2-h">LEARN MORE</a>
                    <a class="btn btn-md btn-white-outline display-4" href="./my-wills">CREATE A WILL</a></div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#timeline2-h">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<section class="timeline2 cid-qPDZlvaNIB" id="timeline2-h">

    <div class="container align-center">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">
           Your ethers heirs</h2>
        <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style display-5">
            Following the steps
        </h3>

        <div class="container timelines-container" mbri-timelines="">
            <div class="row timeline-element reverse separline">
                <span class="iconsBackground">
                    <span class="mbri-plus mbr-iconfont" style="color: rgb(204, 41, 82);"></span>
                </span>
                <div class="col-xs-12 col-md-6 align-left">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            Your Ethereum Will
                        </h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Create an smart contract with you heirs and witnesses.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row timeline-element separline">
                <span class="iconsBackground">
                    <span class="mbri-users mbr-iconfont" style="color: rgb(204, 41, 82);"></span>
                </span>
                <div class="col-xs-12 col-md-6 align-left ">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            In the event of the death
                        </h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            The witness can confirm your dead, and execute your last will.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row timeline-element reverse">
                <span class="iconsBackground">
                    <span class="mbri-bookmark mbr-iconfont" style="color: rgb(204, 41, 82);"></span>
                </span>
                <div class="col-xs-12 col-md-6 align-left">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            Heirs receive their heritage
                        </h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            The heirs can transfer their heritage to an external account.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="features16 cid-qPJLJLkXIo" id="features16-13" style="padding-bottom: 90px">
    <div class="container align-center">
        <h2 class="pb-3 mbr-fonts-style mbr-section-title display-2" style="padding-top: 40px;">
            HOW IT WORKS?
        </h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/e7CrQzN4t3M?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</section>

<section class="timeline2 cid-qPDZlvaNIB" id="features16-12">



    <div class="container align-center">
        <h2 class="pb-3 mbr-fonts-style mbr-section-title display-2" style="padding-top: 40px;">
            OUR AWESOME TEAM
        </h2>
        <h3 class="pb-5 mbr-section-subtitle mbr-fonts-style mbr-light display-5">
            Click any icon or text to edit or style it. Click blue "Gear" icon in the top right corner to hide/show text and change the block and cards background, icons count and other.
        </h3>
        <div class="row media-row">

            <div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="assets/images/pep-lluis2-220x285.png" alt="" title="" width="263" height="285">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">
                            Pep Lluís de la Rosa
                        </p>
                    </div>
                    <div class="item-role px-2">
                        <p>Centre Easy Director</p>
                    </div>
                    <div class="item-social pt-2">

                        <a href="https://es.linkedin.com/in/peplluis" target="_blank">
                            <span class="p-1 socicon-linkedin socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>

                    </div>
                </div>
            </div><div class="team-item col-lg-3 col-md-6">
            <div class="item-image">
                <img src="assets/images/xavi-263x285 (1).png">
            </div>
            <div class="item-caption py-3">
                <div class="item-name px-2">
                    <p class="mbr-fonts-style display-5">
                        Xavi Tarrès Bonet
                    </p>
                </div>
                <div class="item-role px-2">
                    <p>Senior Software Engineer</p>
                </div>
                <div class="item-social pt-2">

                    <a href="https://es.linkedin.com/in/xavitarres" target="_blank">
                        <span class="p-1 socicon-linkedin socicon mbr-iconfont mbr-iconfont-social"></span>
                    </a>

                </div>
            </div>
        </div><div class="team-item col-lg-3 col-md-6">
            <div class="item-image">
                <img src="assets/images/jordi-forroll-263x285.png">
            </div>
            <div class="item-caption py-3">
                <div class="item-name px-2">
                    <p class="mbr-fonts-style display-5">
                        Jordi Forroll Serra
                    </p>
                </div>
                <div class="item-role px-2">
                    <p>Senior Software Engineer</p>
                </div>
                <div class="item-social pt-2">

                    <a href="https://www.linkedin.com/in/jordiforrollserra/" target="_blank">
                        <span class="p-1 socicon-linkedin socicon mbr-iconfont mbr-iconfont-social"></span>
                    </a>

                </div>
            </div>
        </div><div class="team-item col-lg-3 col-md-6">
            <div class="item-image">
                <img src="assets/images/adria-llorenc-263x285.png">
            </div>
            <div class="item-caption py-3">
                <div class="item-name px-2">
                    <p class="mbr-fonts-style display-5">
                        Adrià Llorens
                    </p>
                </div>
                <div class="item-role px-2">
                    <p>Software Developer</p>
                </div>
                <div class="item-social pt-2">

                    <a href="https://es.linkedin.com/in/adri%C3%A0-llorens-martinez-a0498b110" target="_blank">
                        <span class="p-1 socicon-linkedin socicon mbr-iconfont mbr-iconfont-social"></span>
                    </a>

                </div>
            </div>
        </div></div>
    </div>
</section>